@model GameCatalog.Data.Entities.Game

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Game</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="background-color:lightblue;opacity:0.9;border-radius: 25px; width:400px;">
            <div class="form-group" style="padding-top:10px;padding-left:10px;">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="padding-left:10px;">
                @Html.LabelFor(model => model.ReleaseYear, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReleaseYear, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                    @Html.ValidationMessageFor(model => model.ReleaseYear, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group"style="padding-left:10px;">
                @Html.LabelFor(model => model.GenreId, "GenreId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("GenreId", null, htmlAttributes: new { @class = "form-control", @style = "border-radius: 10px;" })
                    @Html.ValidationMessageFor(model => model.GenreId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group"style="padding-left:10px;">
                @Html.LabelFor(model => model.RatingId, "RatingId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("RatingId", null, htmlAttributes: new { @class = "form-control", @style = "border-radius: 10px;" })
                    @Html.ValidationMessageFor(model => model.RatingId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="padding-top:10px;padding-left:10px;">
                @Html.LabelFor(model => model.TrailerLink, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TrailerLink, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                    @Html.ValidationMessageFor(model => model.TrailerLink, "", new { @class = "text-danger" })
                </div>
            </div>
           
            <div class="form-group" style="padding-left:10px;">
                <div class="col-md-offset-2 col-md-10"style="padding-bottom:10px;border-radius:10px;">
                    <input type="submit" value="Create" class="btn btn-primary" style = "border-radius: 10px;"/>
                </div>
            </div>
            
        </div>
        </div>
}

<div>
    @*<button href="@Url.Action("Index", "Games")">
        <i>@Html.ActionLink("Back to List", "Index")</i>Back to List
        <i></i>Back to List
    </button>*@

    <p><a class="btn btn-primary btn-sm" href="@Url.Action("Index", "Games")" style="border-radius: 10px;" role="button">Back to List</a></p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
